



#toolbar {
  position: fixed;
  transition-duration: 0.5s;
  transition-timing-function: cubic-bezier(0.35, 0, 0.25, 1);
  transition-property: background-color, fill, color;

}

.dashboard {
  padding-top: 4%;
  transition: margin-left .8s;
  transition-property: all;
}


.content {
  padding-left: 5%;
}

.login-toolbar {
  background-color: #665851;

}

.md-sidenav-right
{
  height: 200px;
  width: 120px;
  background-color: lightblue;
  align-self: center;
}

.bgd-img {
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  /* background: url('images/photo_bg.jpg'); */
}

.md-user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-top: red solid 1px;
  border-bottom: blue solid 1px;
}

.md-title {
  margin: auto;
  color: tan;
}

.img {
  height: 300px;
  width: 350px;
  align-self: center;
}

.photo {
  align-self: center;
  width: 100%;
}

.md-sidenav-left {
  margin-top: 64px;
  position: fixed;
  transition: 0.7s;
}

@media(max-width:959px) and (orientation: portrait) {
  .md-sidenav-left {
    margin-top: 56px;
    position: fixed;
    transition: 0.7s;
  }
}

.carddemoBasicUsage .card-media {
  background-color: #999999;
}

@media(max-width:959px) and (orientation: landscape) {
  .md-sidenav-left {
    margin-top: 48px;
    position: fixed;
    transition: 0.7s;
  }
}

@media(max-width:500px) and (orientation: portrait) {
  .img {
    width: 280px;
  }
}

@media(max-width:500px) and (orientation: portrait) {
  .img404 {
    background-image: url('images/small404.jpg');
  }
}

.color {
  color: rebeccapurple;
}

@media(max-width:450px) and (orientation: portrait) {
  .text {
    font-size: 10px;
    font-weight: bolder;
  }
  .btn
  {
    width: 30px;
    font-size: 5px;
  }
}

@media(max-width:496px) and (orientation: portrait) {
  .md-sidenav-left {
    width: auto;
    transition: 0.7s;
  }
}

.jk-rating-stars-container  a:first-of-type{
  display: none;

}

.jk-rating-stars-container .star-button .material-icons {
    font-size:22px;
    text-shadow: rgb(0, 0, 0) 0.06em 0.04em;
}

.jk-rating-stars-container .star-button.star-on .material-icons {
  /* color: #003399; */
  color: rgb(238, 154, 0);
}
 .jk-rating-stars-container .star-button.star-off .material-icons {
  color: #99ccff;
}
