#toolbar {
  position: fixed;
}

.dashboard {
  padding-top: 4%;
}

.content {
  padding-left: 5%;
}

.login-toolbar {
  background-color: #665851;
}

.md-sidenav-right
{
  height: 200px;
  width: 120px;
  background-color: lightblue;
  align-self: center;
}



.pad {
  height: 100%;
  padding-top: 100px;
  background-position: center;
  backface-visibility: visible;
  background-size: cover;
}

.md-user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  border-top: red solid 1px;
  border-bottom: blue solid 1px;
}

.md-title {
  margin: auto;
  color: tan;
}

.img {
  height: 300px;
  width: 350px;
  align-self: center;
}

.photo {
  align-self: center;
  width: 100%;
}

.md-sidenav-left {
  margin-top: 64px;
  position: fixed;
}

@media(max-width:959px) and (orientation: portrait) {
  .md-sidenav-left {
    margin-top: 56px;
    position: fixed;
  }
}

.carddemoBasicUsage .card-media {
  background-color: #999999;
}

@media(max-width:959px) and (orientation: landscape) {
  .md-sidenav-left {
    margin-top: 48px;
    position: fixed;
  }
}

@media(max-width:500px) and (orientation: portrait) {
  .img {
    width: 280px;
  }
}

@media(max-width:500px) and (orientation: portrait) {
  .img404 {
    background-image: url('images/small404.jpg');
  }
}

.color {
  color: rebeccapurple;
}

@media(max-width:496px) and (orientation: portrait) {
  .text {
    font-size: 10px;
  }
  .btn
  {
    width: 50px;
    font-size: 8px;
  }
}

@media(max-width:496px) and (orientation: portrait) {
  .md-sidenav-left {
    width: auto;
  }
}

}
