<md-toolbar class="md-toolbar-tools" id="toolbar">

   <md-button ng-click="toggleLeft()" class="md-icon-button" aria-label="sidebar">
     <i class="material-icons">menu</i>
   </md-button>
    <strong class="text">Single Page App Without A Framework</strong>
        <span flex></span>

          <md-button ng-click="toggleRight()" class="md-raised btn"  aria-label="sidebarRightSide">
            <span><b>Theme Controller</b><i class="material-icons">color_lens</i></span>
            </md-button>

     <md-button ng-click="sendLogin()" class="md-icon-button" aria-label="logout">
     <i class="material-icons">exit_to_app</i>
    </md-button>
</md-toolbar>
