  <div layout="row"  class="bgd-img" style="background-image:url('images/photo_bg.jpg');" layout-align='center center' layout-xs="column" ng-cloak="">
<md-card style="height: 435px;margin-left:50px;" flex-gt-md='35' flex-md='35' flex-sm='35'>
    <md-toolbar>
       <h2 class="md-toolbar-tools login-toolbar">
         <span>Sign-Up</span>
         <span flex="5"></span>
          <span style="color:lightblue;"><p>{{ result }}</p></span>
       </h2>
      </md-toolbar>
  <form name="myForm">
    <md-input-container  class="md-block">
      <md-icon><i class="material-icons">person</i></md-icon>
      <input type="text" ng-model="firstName" name="firstName" placeholder="Enter First Name...!" required   minlength="5" md-maxlength="15">
      <div ng-messages="myForm.firstName.$error">
        <div ng-message="required">Password is required...!</div>
        <div ng-message="md-maxlength">Password is too Long...!</div>
        <div ng-message="minlength">Password is too short...!</div>
      </div>
    </md-input-container>
    <md-input-container  class="md-block">
      <md-icon><i class="material-icons">person_outline</i></md-icon>
      <input type="text" ng-model="lastName" name="lastName" placeholder="Enter Last Name...!" required   minlength="5" md-maxlength="15">
      <div ng-messages="myForm.lastName.$error">
        <div ng-message="required">Password is required...!</div>
        <div ng-message="md-maxlength">Password is too Long...!</div>
        <div ng-message="minlength">Password is too short...!</div>
      </div>
    </md-input-container>
   <md-input-container class="md-block">
     <md-icon ><i class="material-icons" >email</i></md-icon>
    <input ng-model="email" name="email" type="email" ng-model="email" value="" placeholder="Email (required)" required>
    <div ng-messages="myForm.email.$error">
      <div ng-message="required">Email is required.</div>
        <div ng-message="email">Invalid email address.</div>
    </div>
  </md-input-container>
  <md-input-container  class="md-block">
    <md-icon><i class="material-icons">lock</i></md-icon>
    <input ng-model="password" type="password" ng-model="password" name="password" value="" placeholder="Password" required   minlength="5" md-maxlength="15">
    <div ng-messages="myForm.password.$error">
      <div ng-message="required">Password is required...!</div>
      <div ng-message="md-maxlength">Password is too Long...!</div>
      <div ng-message="minlength">Password is too short...!</div>
    </div>
  </md-input-container>
  <div layout="row" layout-align='center center' layout-xs="column">
      <md-button ng-click="register(email,password)" ng-disabled="myForm.$invalid" class="md-primary md-raised button" >Submit</md-button>
      <a ui-sref="login" target="_self"><md-button  class="md-primary md-raised button" >Login</md-button></a>
  </div>
</form>
</md-card>
</div>
